<section class="about-section">
	<h2>About</h2>
	<p>
		SRI PAMIDIMUKKALA SURYANARAYANA & SMT. PITCHAMMA MEMORIAL SOCIETY was registered in 2008 (Regd.No. 423/08) with a view render service in memory of the couple by their grandchildren, great grandchildren. Sri Pamidimukkala Suryanarayana was living at Pamidimukkala (Village & Mandal), Krishna District in the 19th Century and he married Smt. Pitchamma from Pingali family of Divi Taluq, Krishna District. Sri Suryanarayana garu hailed from a family of KARANAMS (Village Revenue Officers) and had property both houses and agriculture lands and Was blessed with 7 sons and one daughter. Sri Suryanarayana garu passed away in the early 20th century,  Smt.Pitchamma garu lived for quite afew years later and passed away. The siblings of the revered couple grow up  and taken up different occupations and their children and grandchildren have now living beyond the borders of India in U.S., U K., Australia, Canada and well spread in India.
	</p>
	<p>
		A majority of the grand children and great grandchildren had a feeling that, they by God’s Grace are well saddled in the comfortable position and so they should be helpful to the  Pamidimukkala clan members who are in not very sound economic position by way of helping financially, subject to the limitations of the strength of the Society and also poor Brahmins and then others in the Society. As a sequel to their intention the Society has come into existence.
	</p>
	<h3>THE OBJECTIVES OF THE SOCIETY ARE AS FOLLOWS :</h3>
	<ol>
		<li>
			To make the “PAMIDIMUKKALA’S” family name popular and eve lasting by taking various projects, schemes and programmes benefiting the family members and also to organize conduct education, health and welfare programmes to the community in general and Brahmins in particular.
		</li>
		<li>
			To promote education at Pamidimukkala village and Mandal, Krishna District by starting Sri Suryanarayana & Smt Pichamma Memorial Elementary School and latter developing it into Middle School, High School etc. and make it an Educational Centre.
		</li>
		<li>
			To look after the welfare and help the descendants and heirs of late Pamidimukkala Suryanarayana & Pitchamma financially in case of need by collecting the donations from among the members of Pamidimukkala’s family, in performing  Upanayanams, Marriages, Medical need and last rites.
		</li>
		<li>
			Periodically to conduct mass Upanayanams, mass marriages for Brahmins and also to start VEDA PATHA SALA’S imparting I.T. to poor Brahmin youth, secure projects in I.T. and execute them with the help of the youth.
		</li>
		<li>
			To organize cultural programmes high lighting the heritage and culture and more particularly imparting training pertaining to :
			<ol>
				<li>
					Sri Kuchipudi Dance
				</li>
				<li>
					Sri Tyagaraya’s Keerthanalu
				</li>
				<li>
					Sri Kshetrayya Padaalu
				</li>
				<li>
					Sri Annammacharya’s Keerthanas
				</li>
				<li>
					Sri Ramadass renderings
				</li>
			</ol>
		</li>
		<li>
			To make arrangement for get-togethers of members, celebrating festivals and for celebrating National Functions like Independence day, Republic day and Gandhi Jayanthi.
		</li>
		<li>
			To function purely as non-political organization serving the members with out prejudice to their individual leaning.
		</li>
		<li>
			To invest or deposit money and maintain the association funds.
		</li>
		<li>
			To name the buildings/structures/blocks in the name of  SRI PAMIDIMUKKALA SURYANARAYANA & SMT. PITCHAMMA  and their seven sons & daughters-in-laws and daughters & son-in-law and other heirs.
		</li>
		<li>
			To settle disputes between members of PAMIDIMUKKALA FAMILY by way of arbitration.
		</li>
		<li>
			To train the needy women and girls in tailoring, fashion design manufacture of pickles and other non-formal vocations like computer literacy programmes and to take projects under D.P.E.P. & S.S.A.
		</li>
		<li>
			To spread the massage of health by talking up health education, liaising with Aid control Society,  T.B. Society etc. and also conducting  health campus and incidental works.
		</li>
		<li>
			To take up Programmes for creation of environmental awareness, awareness on  wild life, afforestation, National disaster management, by taking up suitable projects offered by the Ministry of Environment & forest and Ministry of Non Conventional Energy, Govt. of India & A.P. STATE.
		</li>
		<li>
			To provide and maintain Library Recreation facilities and Gosaalaas.
		</li>
	</ol>
	<h2>Membership</h2>
	<p>
		Membership is open for the “PAMIDIMUKKALA” FAMILY MEMBERS.
	</p>
	<h3>THE FOLLOWING ARE  THE TYPES OF MEMBERSHIP :</h3>
	<ol>
		<li>
			General Member.
		</li>
		<li>
			Life Member
		</li>
		<li>
			Patron Members
		</li>
		<li>
			Chief patron
		</li>
	</ol>
	<h3>Membership Fee</h3>
	<ol>
		<li>
			Admission fee for all members is Rs. 1000/- per person.
		</li>
		<li>
			General Member contributing Rs.100/- p.m. or Rs.1200/- p.a.is known as General Member.
		</li>
		<li>
			Person who contributes Rs.10,000/-on admission is called as a Life Member.
		</li>
		<li>
			Person who contribute Rs.25,000/- on admission is called  Patron member.
		</li>
		<li>
			Person who contributes Rs.1,00,000/- (one lakh) is called   Chief Patron.
		</li>
	</ol>
	<h3>Future Plans</h3>
	<ol>
		<li>
			The society is thinking to encourage the poor Brahmin youth to gain access to computer literacy by giving the selected few  by sponsoring them to training programs.
		</li>
		<li>
			Depending upon the interest, availability of teachers, impart professional training to  girls and young married women and widows on  :
			<ol>
				<li>
					Tailoring
				</li>
				<li>
					Beautician course
				</li>
			</ol>
		</li>
	</ol>
	<h3>Request</h3>
	<p>
		All the <strong>PAMIDIMUKKALA</strong> Family members who are descendants of the  Late Sri P.Suryanarayana & Smt. Pitchamma  are requested to become members of the Society and strengthen the society for rendering service to the Brahmins community first and the society later.
	</p>
	<ul>
		<li>
			<h4>P.SATYANARAYANA MURTY</h4>
			<span>PRESIDENT</span>
		</li>
		<li>
			<h4>P.V.VENKATESWARA RAO</h4>
			<span>FOUNDER SECRETARY</span>
		</li>
		<li>
			<h4>C.V.L.NARASIHMA RAO</h4>
			<span>TREASURER</span>
		</li>
	</ul>
	<a href="pdf.pdf">Click here to download Readme.PDF</a>
</section>
